

#your-name {
    background: #4aaaa5;
    /* position: relative; */
    /* text-align: center; */
    float: left;
     /* width: 20%; */
    /* padding: 20px; */
    border: #cccccc;

    height: 25px;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  

}

#about-portfolio-contact{
    background: white;
    /* position: absolute; */
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 700px;
    text-align-last: right;
    float: left;
    /* width: 66%; */
    /* margin-bottom: 20px; */

    height: 25px;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
  

}

#banner {
    background-color: white;
    clear: both;
    overflow: auto;
    padding-left: 80px;
    /* margin-top: 20px; */
    border: 1px solid rgb(202, 201, 201);
  }

h1{
      color:  #040707;
      
      }

#main {
    background-color: rgb(202, 197, 197);
    /* clear: both; */
    /* overflow: auto; */
    /* padding: 20px; */
    /* margin-top: 20px; */
    border: 1px solid rgb(202, 201, 201);
    height: 800px;
    position: relative;
 
 }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    /* margin: 1em 0; */
    margin-right: 30px;
    margin-left: 30px;
    padding: 0;
    clear: both;
    overflow: auto;
}


#bio {
    background: white;
    /* position: relative; */
    /* text-align: center; */
    /* float: left; */
     /* width: 20%; */
    /* padding: 20px; */
    border: #cccccc;

    height: 400px;
    width: 300px;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
    padding-top: 30px;
    padding-right: 60px;
    padding-bottom: 100px;
    padding-left: 60px;
    position: absolute;
    top: 50px;
    left: 100px;
  

}
#image {
    width: 30%;
    padding-top:25px;
}
#biotxt {
    padding-top:5px;
    width: 70%;
}
.bio_container {
    margin:0 auto;
}
#image,
#biotxt {
    float: left;
}
#biotxt2 {

}
.connect_container {
    margin:0 auto;
}
#git_image,
#facebook_image,
#insta_image {
    float: left;
    padding-right: 10px;
}
#portfolio{
    background: white;
    /* position: relative; */
    /* text-align: center; */
    /* float: left; */
     /* width: 20%; */
    /* padding: 20px; */
    border: #cccccc;

    height: 400px;
    width: 300px;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
    padding-top: 30px;
    padding-right: 60px;
    padding-bottom: 100px;
    padding-left: 60px;
    position: absolute;
    top: 50px;
    left: 100px;
  

}
.portfolio_container {
    margin:0 auto;
}
#portfolio_image1,
#portfolio_image2{
    float: left;
     padding-right: 10px;
}

#portfolio_image3,
#portfolio_image4{

     float: left; 
     padding-right: 10px;
     
}
#portfolio_image5{
 
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text1] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    width: 300px;
    height: 100px;
    box-sizing: message-box;
}
#sbutton {
    background-color: green;
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    /* border: #cccccc; */
    /* border: 2px solid #4CAF50; Green */
}
#smedia {
    background: white;
    border: #cccccc;
    height: 75px;
    width: 275px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 100px;
    padding-left: 60px;
    position: absolute;
    top: 50px;
    right: 100px;
  }

h2 {
    color: black;
    font-size: 15px;
    padding-top: 20px;
}

#footer {
    background-color: darkgrey;
    text-align: center;
    height: 50px;
    /* border-top: #4aaaa5; */
    border-top-style: solid;
    border-color: #4aaaa5;
    border-top-width: 10px;
}

h3 { 
    color: black;
    font-size: 10px;
    padding-top: 7px;
    padding-bottom: 20px;
    border-top: #57c7c1;
}
.clearfix {
    clear: both;
    overflow: auto;
}
.clearfix1 {
    clear: both;
    overflow: auto;
}